<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2> About section </h2>
        <img class="portrait" src="/images/download.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>